.DetailApp{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "card_area blank blank"
        "text_area text_area text_area"
        "footer footer footer"
        "commentList commentList commentList";       
    width: 1248px;
    max-width: 100%;
    margin: 10px auto;
    .card_area{
        // width: 128px;
        // float: left;
        max-width: 100%;
        max-height: 100%;
        grid-area: card_area;
        display: flex;

    }
    .text_area{
        width: 1248px;
        margin: 10px auto;
        height: 60vh;
        grid-area: text_area;
        display: flex;
    }
    .footer{
        grid-area: footer;
        display: flex;
        justify-content: end;
    }
    .commentList{
        grid-area: commentList;
        display: flex;
        justify-content: center;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "comment"
            "input_comment"
            "button_comment";
        
        .input_comment{
            grid-area: input_comment;
            display: block;
            justify-content: center;
        }
        .button_comment{
            grid-area: button_comment;
            display: block;
            justify-content: center;
        }

        .comment{
            grid-area: comment;
            display: block;
            justify-content: center;
        }
    }
}
